body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #e9e9db;
    color: blue;
    width: 100%;
    display: flex;
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.sign in {
    margin-left: 100px;
}